@import "src/assets/colors.scss";
@import "src/app/heroes/heroes.component.scss";

:host {
  display: flex;
  flex-wrap: wrap;
}

.k-listview {
  font-family: sans-serif;
  height: 340px;
  flex: 1;
  flex-basis: 30%;
  margin: 20px;

  .pony-info {
    padding: 10px;
    border-bottom: 1px solid $light-grey;
  }

  .pony-alias {
    display: block;
  }

  .title {
    color: $grey;
    font-size: 1rem;
    padding: 6px 10px;
  }

  .header {
    display: flex;
    justify-content: space-between;
    margin: 5px;
  }

  .footer {
    font-size: 0.7rem;
  }
}

.product {
  padding: 8px;
  width: 100%;
}

.product-name {
  margin: 0 4px;
}

.item-postion {
  font-style: italic;
}

.product.border-bottom {
  border-bottom-width: 1px;
  border-bottom-color: lightgrey;
}
