h3.page-header, p {
  margin-bottom: 20px;
}

.filter-form {
  width: 50vw;
}

form input:not([type="checkbox"]) {
  width: 100%;
}

.button-group {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;

  margin-top: 25px;
}

.button-group button:first-of-type {
  margin-right: 10px;
}

.error-field {
  color: #f31700;
  font-style: italic;
  font-size: 12px;
}
