<h3 class="page-header">Hire a Hero!</h3>

<div class="filter-form">
  <form [formGroup]="heroFilterForm">
    <kendo-formfield>
      <kendo-label [for]="heroName">Hero Name</kendo-label>
      <kendo-dropdownlist
        #heroName
        formControlName="heroName"
        [data]="availableHeroes$ | async"
        [textField]="'name'"
        [valueField]="'id'"
      ></kendo-dropdownlist>
      <kendo-formerror>Hero is required</kendo-formerror>
    </kendo-formfield>

    <kendo-formfield>
      <kendo-label [for]="heroKind">Filter by Kind</kendo-label>
      <kendo-multiselect
        #heroKind
        formControlName="kind"
        [data]="heroKinds$ | async"
        (valueChange)="heroKindChanged($event)"
      ></kendo-multiselect>
      <kendo-formerror>Hero is required</kendo-formerror>
    </kendo-formfield>
  </form>
</div>
