<div class="header">
  <!-- <h1 data-text="Tour of Heroes">Tour of Heroes</h1> -->
  
  <h1 id="fancy-font" class="salty first-letter">
    <div class="original">Tour of <span class="salt-me">H</span><span class="alternate-style">e</span>ro<span class="alternate-style">e</span></div>
    <div class="outline">Tour of <span class="salt-me">H</span><span class="alternate-style">e</span>ro<span class="alternate-style">e</span></div>
    <div class="extrude">Tour of <span class="salt-me">H</span><span class="alternate-style">e</span>ro<span class="alternate-style">e</span></div>
  </h1>

  <nav>
    <a routerLink="/dashboard">Dashboard</a>
    <a routerLink="/heroes">Heroes</a>
  </nav>
</div>
<div class="content-wrapper">
  <router-outlet></router-outlet>
  <app-messages></app-messages>
</div>
