/* AppComponent's private CSS styles */
@import 'src/assets/colors.scss';

.content-wrapper {
  margin: 40px;
}

nav {
  display: flex;
  justify-content: space-evenly;

  a {
    z-index: 3;
    text-decoration: none;
    color: $hot-pink;

    &:hover,
    &.active {
      color: $dark-pink;
    }
  }
}

/* Our Styles as we add Kendo UI */

.header {
  background: $light-blue;
  background: linear-gradient(0deg, $light-blue 0%, #e7f9fd 49%, #f7f7f7 100%);
  border-bottom: 2px solid $light-blue;
  text-align: center;
  padding: 70px;

  img {
    $img-width: 335px;

    position: absolute;
    top: 0;
    left: calc(50vw - #{$img-width});
    z-index: 0;
  }
}

.main-title * {
  color: $hot-pink;
}
