.k-grid, h2 {
  margin: 0 auto;
  width: 80vw;
}

// not seeing your style? try turning off view encapsulation for the component
.k-grid .td-special {
  text-align: center;
}

.pony-headshot {
  max-width: 100px;
}