$base-theme:Default;
$skin-name:powder-blue-2;
$swatch-name:Powder Blue;
$border-radius: 2px;
$accent: #2fb2ef;
$info: #46b8e0;
$success: #90bf4f;
$warning: #ffc857;
$error: #e14d6b;
$text-color: #50686e;
$bg-color: #f8fbfd;
$base-text: #003b56;
$base-bg: #e0ecf3;
$hovered-text: #ffffff;
$hovered-bg: #b2d1e0;
$selected-text: #ffffff;
$selected-bg: #ff6e84;
$series-a: #e7607b;
$series-b: #bb334f;
$series-c: #6bd2e2;
$series-d: #01A8C1;
$series-e: #ddc981;
$series-f: #c09e2f;
