<app-hero-search></app-hero-search>

<h2 data-text="Top Heroes">Top Heroes</h2>

<!-- <app-pony-chart></app-pony-chart> -->
<app-pony-grid></app-pony-grid>

<div class="pony-card-group">
  <kendo-card [width]="'260px'" *ngFor="let hero of heroes">
    <a routerLink="/detail/{{hero.id}}">
    <kendo-card-header class="k-hbox">
      <div>
        <h3 kendoCardTitle>{{ hero.name }}</h3>
        <p kendoCardSubtitle>{{ hero.id }}</p>
      </div>
    </kendo-card-header>
    <!-- insert image here of pony -->
    <img src="assets/images/retro-mlp/pinkie-pie.png" alt="placeholder img for all ponies">
    </a>
  </kendo-card>
</div>

