<!-- <h2 data-text="Top Heroes" class="salty">Top Heroes</h2> -->

<h2 id="fancy-font" class="salty first-letter">
  <div class="original">Top <span class="salt-me">H</span>eroes</div>
  <div class="outline">Top <span class="salt-me">H</span>eroes</div>
  <div class="extrude">Top <span class="salt-me">H</span>eroes</div>
</h2>

<div class="pony-card-group">
  <kendo-card [width]="'260px'" *ngFor="let hero of heroes">
    <a routerLink="/detail/{{hero.id}}">
    <kendo-card-header class="k-hbox">
      <div>
        <h3 kendoCardTitle>{{ hero.name }}</h3>
        <p kendoCardSubtitle>{{ hero.id }}</p>
      </div>
    </kendo-card-header>
    <!-- insert image here of pony -->
    <img src="assets/images/retro-mlp/pinkie-pie.png" alt="placeholder img for all ponies">
    </a>
  </kendo-card>
</div>

<app-hero-search></app-hero-search>
