/* DashboardComponent's private CSS styles */

a {
  text-decoration: none;
}

.pony-card-group {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 40px 0 0;
}

/* CREATE STYLESHEET JUST FOR KENDO CARDS */

.k-card {
  overflow: hidden;
}

kendo-card {
  margin-bottom: 20px;
  height: 285px;
  transition: background-color 0.4s ease;
}

kendo-card img {
  max-width: 300px;
  position: absolute;
  top: 110px;
  transition: top 0.4s ease;
}

kendo-card img:hover {
  top: 90px;
}

kendo-card:hover {
  background-color: #f9f9f9;
}