// Fonts for our Application

@font-face {
  font-family: 'pony';
  src: url('/bratsy-font/bratsy-script.woff2') format('woff2'), 
    url('/bratsy-font/bratsy-script.woff') format('woff');
}

@font-face {
  font-family: 'pony-outline';
  src: url('/bratsy-font/bratsy-outline.woff2') format('woff2'), 
    url('/bratsy-font/bratsy-outline.woff') format('woff');
}

@font-face {
  font-family: 'pony-extrude';
  src: url('/bratsy-font/bratsy-extrude.woff2') format('woff2'), 
    url('/bratsy-font/bratsy-extrude.woff') format('woff');
}