/* Global Styles */
@import 'src/assets/fonts.scss';
@import 'src/assets/colors.scss';

* {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
}

#fancy-font {
  position: relative;
  z-index: 1;
}

#fancy-font div, #fancy-font div * {
  color: $hot-pink;
  font-family: 'pony';
  font-size: 110px;
}

#fancy-font .outline, #fancy-font .extrude {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  text-align: inherit;
}

#fancy-font .outline, #fancy-font .outline * {
  font-family: pony-outline;
  color: $purple;
  z-index: -1;
}

#fancy-font .extrude, #fancy-font .extrude * {
  font-family: pony-extrude;
  color: #a5e4eb;
  z-index: -2;
}

#fancy-font.salty {
  &.first-letter .original::first-letter, &.first-letter .outline::first-letter, &.first-letter .extrude::first-letter {
    -moz-font-feature-settings: "salt";
    -webkit-font-feature-settings: "salt";
    font-feature-settings: "salt";
  }

  .salt-me {
    -moz-font-feature-settings: "salt";
    -webkit-font-feature-settings: "salt";
    font-feature-settings: "salt";
  }

  .alternate-style {
    -moz-font-feature-settings: "ss01";
    -webkit-font-feature-settings: "ss01";
    font-feature-settings: "ss01";
  }
}

[data-text] {
  z-index: 1;
  position: relative;
  display: inline-block;
  color: $hot-pink;
  font-family: 'pony';
  
  &.salty {
    -moz-font-feature-settings: "salt";
    -webkit-font-feature-settings: "salt";
    font-feature-settings: "salt";
  }

  &::before, &::after {
    top: 0;
    right: 0;
    left: 0;
    position: absolute;
    content: attr(data-text);
    display: block;
    text-align: inherit;
  }

  &::before {
    z-index: -1;
    color: $purple;
    font-family: 'pony-outline';
  }

  &::after {
    z-index: -2;
    color: #a5e4eb;
    font-family: 'pony-extrude';
  }
}

h1 {
  font-size: 4.2rem;
}

h3 {
  color: #444;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}

body {
  background-color: #f7f7f7;
}

body, input[text], button {
  color: #333;
  font-family: Cambria, Georgia;
}

a {
  cursor: pointer;
  cursor: hand;
}

button, button.k-button, nav a {
  font-size: 20px;
}