/* Global Styles */
@import './assets/fonts.scss';
@import './assets/colors.scss';

* {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
}

h1, h2 {
  color: $hot-pink;
  -webkit-text-stroke-width: 1px;
  // -webkit-text-stroke-color: #8c2167;
  font-family: 'pony';
  font-size: 110px;
}

h1, h1 * {
  color: #4286df;
  -webkit-text-stroke-color: #21318c;
  font-size: 4.2rem;
}

h1, h2 {
  margin: 10px 0 2rem 0;
}

h3 {
  color: #444;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}

.pony-font-leading-t {
  letter-spacing: -0.3em;
}

body {
  background-color: #f7f7f7;
}

body, input[text], button {
  color: #333;
  font-family: Cambria, Georgia;
}

a {
  cursor: pointer;
  cursor: hand;
}

button, button.k-button, nav a {
  font-size: 20px;
}