/* HeroesComponent's private CSS styles */
.heroes {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 15em;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 50vh;
}

.heroes li {
  cursor: pointer;
  background-color: #EEE;
  margin: .5em;
  height: 2.2rem;
  width: 17em;
  border-radius: 4px;
  
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.heroes li:hover {
  color: #607D8B;
  background-color: #DDD;
  left: .1em;
}

.heroes a {
  color: #333;
  text-decoration: none;

  display: flex;
  width: 100%;
}

.heroes .hero-name {
  font-size: 20px;
  line-height: 32px;
}

.heroes a:hover {
  color: #607D8B;
}

.heroes .badge {
  display: inline-block;
  font-size: 12px;
  line-height: 14px; 
  margin-right: 10px;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color: #405061;
  height: 1.8em;
  min-width: 16px;
  border-radius: 4px 0 0 4px;
}

button {
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  cursor: hand;
  font-family: Arial;
}

button:hover {
  background-color: #cfd8dc;
}

button.delete {
  margin-right: 5px;
  line-height: 0;
}

