<h2 data-text="The Heroes">The Heroes</h2>

<kendo-formfield class="new-hero-form form-group">
  <kendo-label [for]="heroName">Hero Name</kendo-label>
  <input kendoTextBox id="heroName" #heroName [(ngModel)]="name" required />

  <kendo-formhint>The name of our new hero!</kendo-formhint>
  <kendo-formerror>A name is required to create a new hero.</kendo-formerror>

  <!-- (click) passes input value to add() and then clears the input -->

  <button kendoButton (click)="add(heroName.value); heroName.value=''">Add</button>

</kendo-formfield>

<!-- <app-list-view></app-list-view> -->

<!-- DJK1: Heroes -->
<ul class="heroes">
  <li *ngFor="let hero of heroes$ | async">
    <a routerLink="/detail/{{hero.id}}">
      <img class="avatar" [src]="getAvatarLink(hero.id)" title="pony avatar img">
      <div class="hero-name">{{hero.name}}</div>
    </a>
    <button kendoButton [icon]="'close'" class="delete" title="delete hero" (click)="delete(hero)"></button>
  </li>
</ul>