/* HeroesComponent's private CSS styles */

/* Variables that need to be moved to global var file */

$pony-pink: #f03c97;
/* $grass-green: #6ea965; */

.heroes {
    list-style-type: none;
    padding: 0;
    margin: 0 6% 2em 0;
    display: flex;
    flex-wrap: wrap;
}

.heroes li {
  cursor: pointer;
  background-color: #EEE;
  margin: .5em;
  height: 3rem;
  width: 17em;
  border-radius: 4px;
  
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.heroes li:hover {
  color: #607D8B;
  background-color: #DDD;
  left: .1em;
}

.heroes a {
  color: #333;
  text-decoration: none;

  display: flex;
  width: 100%;
  height: 100%;
}

.heroes .hero-name {
  font-size: 2rem;
  line-height: 3.2rem;

  color: #8c2167;
  /* -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #8c2167; */
  font-family: pony, cursive;
  padding: 0 2px;

  /* so really long names don't wrap */
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 12rem;
}

.heroes a:hover {
  color: #607D8B;
}

.heroes .avatar {
  display: inline-block;
  margin-right: 10px;
  color: white;
  padding: 0.5em;
  background-color: $pony-pink;
  height: 100%;
  border-radius: 4px 0 0 4px;
}

button {
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  cursor: hand;
  font-family: Arial;
}

button:hover {
  background-color: #cfd8dc;
}

button.delete {
  margin-right: 5px;
  line-height: 0;
}

@media all and (max-width: 699px) {
  .heroes li { 
    margin: 1.2em;
    width: 100vw;
  }
  .heroes .hero-name {
    max-width: 21rem;
  }
}